<footer>
        <nav>
            <a href="https://webpages.charlotte.edu/cchembeu/itis3135/">ITIS3135</a>
            <span class="separator">♦</span>
            <a href="https://github.com/0Ares0" target="_blank">GitHub</a>
            <span class="separator">♦</span>
            <a href="https://webpages.charlotte.edu/cchembeu/" target="_blank">Webspace</a>
            <span class="separator">♦</span>
            <a href="https://0ares0.github.io/" target="_blank">GitHub.io</a>
            <span class="separator">♦</span>
            <a href="https://www.linkedin.com/in/collins-nji/" target="_blank">LinkedIn</a>
            <span class="separator">♦</span>
            <a href="#" id="validation_link_html">HTML Validator</a>
            <span class="separator">♦</span>
            <a href="#" id="validation_link_css">CSS Validator</a>
        </nav>
</footer>